:root {
    --fish-position: 50%;
    --ghost-position: 50%;
    --crab-position: 50%;
}

.particle {
    font-size: 24px;
    z-index: 9999;
    position: absolute;
    user-select: none;
    cursor: default;
}

/*Fish*/

#crabsjs-fish1 {
    animation: drive 6s linear forwards, swim 2s linear infinite;
    top: var(--fish-position);
}
#crabsjs-fish2 {
    animation: drive 5.5s linear forwards, swim 2s linear infinite;
    top: var(--fish-position);
}
#crabsjs-fish3 {
    animation: drive 6.5s linear forwards, swim 2s linear infinite;
    top: var(--fish-position);
}
@keyframes swim {
    0% {transform: rotate(15deg);} 
    50% {transform: rotate(-15deg);}
    100% {transform: rotate(15deg);}
}


/*Car*/

#crabsjs-car1 {
    bottom: 0;
    animation: drive 6s linear forwards;
}

#crabsjs-car2 {
    bottom: 0;
    animation: drive 6s linear forwards;
}

#crabsjs-car3 {
    bottom: 0;
    animation: drive 6s linear forwards;
}

#crabsjs-car4 {
    bottom: 0;
    animation: drive 6s linear forwards;
}

#crabsjs-car5 {
    bottom: 0;
    animation: drive 6s linear forwards;
}

#crabsjs-car6 {
    bottom: 0;
    animation: drive 5s linear forwards;
}

@keyframes drive {
    from {right:0; visibility: visible;}
    to {right: 100%; visibility: hidden;}
}


/*Ghost*/

#crabsjs-ghost {
    user-select: none;
    left: var(--ghost-position);
    animation: float 4s linear forwards, wobbleX 1s linear infinite;
    transition: transform 1s;
}

@keyframes float {
    from {bottom: 0; opacity: 100%; font-size: 24px;}
    to {bottom: 100%; opacity: 0%; font-size: 20px;}
}

@keyframes wobbleX {
    0% {transform: translateX(0px);}
    25% {transform: translateX(-5px);}
    50% {transform: translateX(0px)}
    75% {transform: translateX(5px)}
    100% {transform: translateX(0px);}
}