/* This file is meant for the website only. For the appearence and animation of the particles, see 'crabs.css' */

@media (prefers-color-scheme: dark) {
    :root {
      --background: url(assets/bg-dark.png);
      --text: #fff;
      --stroke: #21212d;
      --window: #08001180;
      --bg-color: #080011;
      --light: #2d2d3e;
      --lighter: #21212d;
    }
}
@media (prefers-color-scheme: light) {
    :root {
      --background: url(assets/bg-light.png);
      --text: #000;
      --stroke: #C8C4F2;
      --window: #ffffff80;
      --bg-color: #ffffff;
      --light: #ececec;
      --lighter: #f6f6f6;
    }
}

body {
    background: var(--background);
    background-color: var(--bg-color);
    background-repeat: repeat;
    color: var(--text);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo {
    left: 15px;
    top: 10px;
    position: fixed;
    line-height: 0;
    user-select: none;
    cursor: pointer;
    color: var(--text);
}

.dock {
    padding: 5px;
    background-color: var(--window);
    border: 1px solid var(--stroke);
    border-radius: 10px;
    left: 0;
    right:0;
    margin:auto;
    width: fit-content;
    position:fixed;
    bottom: 10px;
    z-index: 999;
    user-select: none;
    padding-top: 0;
}

button {
    background-color: var(--lighter);
    font-family: inherit;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid var(--light);
    cursor: pointer;
    color: inherit;
    border: 1px solid var(--light);
}
button:hover {
    background-color: var(--light);
}
button:disabled {
    cursor: not-allowed;
    color: grey;
}

a {color: inherit;}

.links {
    position: fixed;
    right: 15px;
    top: 15px;
    color: grey;
    user-select: text;
    text-align: right;
}

small {
    font-size: 11px;
    color: grey;
}

hr { border: 1px solid var(--stroke); }

s { color: gray; }

code {
    padding: 5px;
    background-color: var(--lighter);
    border-radius: 5px;
}

input {
    background-color: var(--bg-color);
    font-family: inherit;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid var(--light);
    color: inherit;
    border: 1px solid var(--light);
    width: 250px;
    font-family: monospace;
}

td {
    padding: 5px;
}